################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyApp2/.vs/MyApp2
/MyApp2/MyApp2/bin/Debug/net6.0
/MyApp2/MyApp2/obj
